# Django and Django-related packages
Django==5.1.1
django-browser-reload==1.15.0
django-otp==1.5.4
django-storages==1.14.6
channels==4.2.0
channels_redis==4.2.1
daphne==4.1.2
pyotp
agora_token_builder==1.0.0
pandas
transformers
scikit-learn
pusher
# Database
psycopg2==2.9.10
redis==5.2.1

# AWS
boto3==1.37.27
awscli==1.38.28

# Authentication and Security
python-decouple==3.8
python-dotenv==1.0.1
PyJWT==2.10.1
cryptography==44.0.0

# Image Processing
Pillow==10.4.0

# HTTP and API
requests==2.32.3
aiohttp==3.11.16
httpx==0.28.1

# Utilities
python-dateutil==2.9.0
pytz==2024.2
six==1.16.0
urllib3==2.3.0

# WebSocket and Real-time
autobahn==24.4.2
Twisted==24.11.0
