{% extends "layout.html" %}

{% block content %}
 <!-- Introduction to Expert Doctors -->
 <section class="intro-section">
	<div class="container">
		<h1 class="heading">Meet Our <span>Expert Doctors</span></h1>
		<p>At MediGen, we take pride in connecting you with highly skilled doctors who specialize in various medical fields. Our doctors are certified professionals with extensive experience, ensuring that you receive the best care possible.</p>
	</div>
</section>

<!-- Why Choose Our Doctors? -->
<section class="why-choose">
	<div class="container">
		<h2>Why Choose Our <span>Expert Doctors?</span></h2>
		<ul>
			<li><b>Experienced Professionals:</b> Our doctors have years of practice in their respective fields.</li>
			<li><b>Personalized Care:</b> We focus on patient-specific treatment plans.</li>
			<li><b>Advanced Medical Technologies:</b> Our doctors use the latest technology for accurate diagnoses and treatments.</li>
			<li><b>Wide Range of Specializations:</b> From dermatology to oncology, we have specialists for all medical needs.</li>
		</ul>
	</div>
</section>

<!--doctor section-->

<section class="Doctors" id="Doctors">
    <h1 class="heading">our <span>Doctors</span></h1>
    <div class="container">
        <div class="row">
            {% for doctor in doctors %}
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
                <div class="box">
                    <img src="{{doctor.photo.url}}" alt="">
                    <a href="{% url 'doc_profile' doctor.id %}" class="text-decoration-none">
                        <h3>Dr. {% with name_parts=doctor.user.full_name.split %} {{ name_parts.0.0 }}. {{ name_parts|last }} {% endwith %}</h3>
                    </a>
                    <span>{{doctor.specialization}}</span>
                    <div class="share d-flex justify-content-center">
                        <a href="mailto:{{doctor.user.email}}" class="fa fa-envelope"></a>
						 <a href="#" data-bs-toggle="modal" data-bs-target="#appointment_modal" 
                           data-doctor-id="{{doctor.id}}" class="fas fa-pen"></a> 
						   {% comment %} <a href="{% url 'meds:book_appointment' doctor.id %}" class="fas fa-pen" data-doctor-id="{{doctor.id}}" ></a> {% endcomment %}
						   <a href="tel:{{doctor.phone}}" class="fas fa-phone"></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}