{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "learn.more.css" %}">
</head>
<!DOCTYPE html>
<html lang="en">
<head>
   

   
    <body>
        <div class="image-container">
            <img src="{% static "photos/abot.jfif" %}" alt="Descriptive Alt Text">
            <div class="overlay-text">
                <h1>
                    About MediGen
                </h1>
            </div>
        </div>
       
        <div class="image-container1">
            <img src="{% static "photos/about1.jpg" %}" alt="Descriptive Alt Text">
            <div class="overlay1"></div>
            <div class="overlay-text1">
                <h1>
                    Let's Get To<br>Know Us<br>Better
                </h1>
            </div>
            <div class="boxes-container" >
                <div class="box box1">
                    <div class="box-content" style="width: 170px;">
                        <br>
                        <img src="{% static "photos/free2.avif" %}" style="height: 80px; width: 150px; ">
				<h3>Free Checkups</h3>
                
				<p><pre></pre>not only online checkup but 
                    also finalize offline
                     available.</pre></p>
                    </div>
                </div>
                <div class="box box2">
                    <div class="box-content" style="width: 170px;">
                        <br>
                        <img src="{% static "photos/expertDr.jpg" %}" style="height: 80px;" width="150px;">
                        <h3>Expert Doctors</h3>
                        <p>You can get Higher qualified doctors in respective their domain </p>                    </div>
                </div>
                <div class="box box3">
                    <div class="box-content" style="width: 170px;">
                        <br>
                        <img src="{% static "photos/appointment.jpg" %}" style="height: 80px;" width= "150px;">
                        <h3>Book Your Appointment</h3>
				<p>Talk and book your appointment as per your convenience.</p>
                    </div>
                </div>
                <div class="box box4">
                    <div class="box-content" style="width: 170px;">
                        <img src="{% static "photos/free1.png" %}" style="height: 80px; width: 150px;">
                        <h3>Check your disease</h3>
				<p>Yes, Now you can get to know about disease.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="image-container2">
            <img src="{% static "photos/3div.jpg" %}" alt="Descriptive Alt Text">
            <div class="overlay2"></div>
            <div class="overlay-text2">
                
                <p><pre>

<h1></h1>                   
At MediGen, we harness the power of artificial 
intelligence to revolutionize healthcare. Our 
mission is to make healthcare more accessible,
efficient, and personalized for everyone.

Our dedicated team, comprised of experts in AI,
data science, and medicine, works tirelessly to 
develop innovative tools that empower both 
patients and healthcare providers. We strive to
ensure that every healthcare decision is informed
by the latest advancements in technology.</h1>  
                    
          </pre></p>
               
            </div>
        
            
        </body>
        </html>
            
                
          